/* ******************************** */
/* *********** GENERALS *********** */
/* ******************************** */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f1f1f1;
}

/* ******************************** */
/* ************ NAVBAR ************ */
/* ******************************** */

.nav-left {
  width: 300px;
  height: 100vh;
  min-height: 800px;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px dashed #f1f1f1;
  z-index: 5;
  transition: all 0.2s ease-in-out;
}

.block-menu {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-menu span {
  font-size: 19px;
  text-align: center;
  position: relative;
  font-weight: 700;
  cursor: pointer;
}

.block-menu span a {
  text-decoration: none;
  color: #f1f1f1;
}

.block-menu span::after {
  content: '';
  display: block;
  width: 0px;
  margin: 5px auto 0 auto;
  height: 2px;
  border-radius: 2px;
  background: #aaa;
  transition: all 0.2s ease-out;
}

.block-menu span:hover::after {
  width: 100%;
}

/* ******** PORTRAIT ******** */

.block-menu:nth-child(1) {
  width: 100%;
  height: 25%;
  background: #333;
}

.circle-portrait {
  margin: 20px 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  /* neumorphism effect */
  box-shadow: 26px 26px 53px #292929, -26px -26px 53px #3d3d3d;
}
.circle-portrait img {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  cursor: pointer;
}
.circle-logo img {
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ****** NAVBAR MEDIA QUERIES ****** */

@media screen and (max-width: 1300px) {
  .nav-left {
    left: -300px !important;
    width: 250px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menu-visible {
    left: 0px !important;
  }
  .block-menu:nth-child(1) {
    display: none;
  }
  .block-menu:nth-child(7) {
    display: none;
  }
  .btn-round-menu {
    width: 70px;
    height: 70px;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    background: #333;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
  }
  .lines-container {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .line {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .line::before {
    content: '';
    position: absolute;
    bottom: 10px;
    background: #f1f1f1;
    width: 100%;
    height: 4px;
    border-radius: 5px;
  }
  .line::after {
    content: '';
    position: absolute;
    top: 10px;
    background: #f1f1f1;
    width: 100%;
    height: 4px;
    border-radius: 5px;
  }
  .lines-container.active .line::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
  }
  .lines-container.active .line {
    background: transparent;
  }
  .lines-container.active .line::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
  }

  @media screen and (max-width: 700px) {
    .btn-round-menu {
      width: 60px;
      height: 60px;
    }
  }

  @media screen and (max-width: 450px) {
    .btn-round-menu {
      width: 50px;
      height: 50px;
    }
    .lines-container {
      width: 20px;
      height: 38px;
    }
    .line {
      height: 3px;
    }
    .line::before {
      bottom: 8px;
      height: 3px;
    }
    .line::after {
      top: 8px;
      height: 3px;
    }
  }
}

/* ********************************** */
/* ********** HOME SECTION ********** */
/* ********************************** */

.home {
  background: url('./img/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  min-height: 900px;
  width: calc(100% - 300px);
  margin-left: auto;
  position: relative;
}

h1 {
  font-size: 80px;
  font-family: 'Abril Fatface', sans-serif;
  margin: 0 60px;
  padding-top: 210px;
}

.txt-animation {
  font-size: 30px;
  margin: 10px 0 10px 60px;
}

.btn-home {
  display: inline-flex;
  width: 200px;
  height: 50px;
  text-decoration: none;
  background: #000;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  margin: 10px 0 0 0;
  border-radius: 2px;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;
}

.btn-home:hover {
  transform: scale(1.02);
}

.btn-home1 {
  margin: 10px 0 0 60px;
}

.btn-home2 {
  background: transparent;
  border: 2px solid black;
  color: black;
  font-weight: 700;
}

.medias {
  display: flex;
  margin-left: 60px;
  margin-top: 30px;
}

.media {
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.media2 {
  background: transparent;
  border: 2px solid #333;
}

.icon-medias {
  width: 30px;
}

.btn-round {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 20px;
  left: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 #333;
  background: #333;
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.01);
  }
}

.logo-btn-round-home {
  width: 35px;
}

/* ****** HOME SECTION MEDIA QUERIES ****** */

@media screen and (max-width: 1300px) {
  .home {
    width: 100%;
    background-position: center;
  }
}

@media screen and (max-width: 1000px) {
  .home {
    height: 700px;
    min-height: 0;
  }
  h1 {
    font-size: 70px;
    margin: 0 30px 0 30px;
    padding-top: 100px;
  }
  .home p {
    margin: 20px 0 20px 30px;
  }
  .btn-home1 {
    margin: 10px 0 0 30px;
  }
  .medias {
    margin-left: 30px;
  }
  .btn-round {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .home {
    height: 600px;
  }
  h1 {
    font-size: 50px;
    margin: 0 30px;
  }
  .home p {
    font-size: 20px;
  }
  .btn-round-menu {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }
  .home p {
    font-size: 16px;
  }
  .btn-home {
    width: 120px;
    font-size: 13px;
    height: 40px;
    margin: 10px 0 0 5px;
  }
  .btn-home1 {
    margin: 10px 0 0 30px;
  }
  .media {
    width: 40px;
    height: 40px;
  }
  .icon-medias {
    width: 20px;
  }
}

@media screen and (max-width: 450px) {
  .btn-round-menu {
    width: 50px;
    height: 50px;
  }
  .lines-container {
    width: 20px;
    height: 38px;
  }
  .line {
    height: 3px;
  }
  .line::before {
    bottom: 8px;
    height: 3px;
  }
  .line::after {
    top: 8px;
    height: 3px;
  }
  .home {
    height: 500px;
  }
  h1 {
    margin: 0 30px 0 5px;
    padding-top: 120px;
  }
  .home p {
    margin: 30px 0 0 5px;
  }
  .btn-home {
    width: 100px;
    font-size: 12px;
    height: 35px;
    margin: 30px 0 0 5px;
  }
  .medias {
    margin-top: 30px;
    margin-left: 5px;
  }
  .icon-medias {
    width: 20px;
  }
}

@media screen and (max-width: 380px) {
  .txt-animation {
    font-size: 15px !important;
  }
}

@media screen and (max-width: 370px) {
  .txt-animation {
    font-size: 13px !important;
  }
}

/* *********************************** */
/* ********** ABOUT SECTION ********** */
/* *********************************** */

.about {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
  color: #e7e7e7;
}

.about-background {
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  width: 2300px;
  height: 1000px;
  position: absolute;
  transform: rotate(-45deg) translateX(100px) translateY(-15px);
  z-index: -1;
}

.about-title {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 70px 0;
  padding-left: 300px;
}

.about-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0 130px 0;
  flex-shrink: 0;
  padding-left: 300px;
}

.about-left {
  width: 600px;
  flex-shrink: 0;
  margin-bottom: 50px;
  padding-left: 120px;
  padding-top: 20px;
}

.about-left h3 {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
}

.about-left hr {
  width: 60px;
  margin: 0 auto 20px auto;
}

.about-left p {
  text-align: justify;
}

.about-right {
  width: 600px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}

.about-list {
  list-style-type: none;
  padding: 10px 0 50px 110px;
}

.number-style {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 40px;
}

.txt-list {
  font-size: 27px;
  display: inline;
}

/* ****** ABOUT - MEDIA QUERIES ****** */

@media screen and (max-width: 1300px) {
  .about-container {
    padding-left: 0px;
  }
  .about-title {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1100px) {
  .about-background {
    width: 100%;
    height: 150%;
    transform: rotate(0) translateY(0) translateX(0);
  }
  .about-title {
    margin: 0 0 20px 0;
    padding-top: 50px;
  }
  .about-container {
    flex-direction: column;
  }
  .about-left {
    width: 80%;
    flex-shrink: 1;
    margin-bottom: 10px;
    padding: 20px 0;
  }
  .about-left h3 {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .about-left p {
    font-size: 16px;
  }
  .about-right {
    width: 80%;
    flex-shrink: 1;
  }
  .about-list {
    padding: 0 0;
  }
}

@media screen and (max-width: 700px) {
  .about-container {
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .about-title {
    font-size: 24px;
    margin: 0 10px;
  }
  .about-left h3 {
    font-size: 20px;
  }
  .number-style {
    font-size: 30px;
  }
  .txt-list {
    font-size: 17px;
  }
}

/* *********************************** */
/* ******** PORTFOLIO SECTION ******** */
/* *********************************** */

.portfolio {
  width: 100%;
}
.portfolio-title {
  text-align: center;
  padding: 50px 0;
  font-size: 50px;
  padding-left: 300px;
}

.portfolio-container {
  width: 100%;
  height: auto;
  margin: 0 auto 100px auto;
  padding-left: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.port-item {
  margin: 20px;
  width: 420px;
  height: 400px;
  background: #f0f2f0;
  color: #333;
  transition: transform 0.3s ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.port-item:hover {
  transform: translateY(-5px);
}
.cont-img-port {
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.cont-img-port img {
  width: 100%;
  height: auto;
}
.port-item h3 {
  padding: 10px 10px 0;
  font-size: 22px;
}
.port-item p {
  padding: 10px 10px 0;
}
.btn-projects {
  display: block;
  margin: 10px;
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #333;
  text-decoration: none;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-projects::after {
  content: '';
  height: 240px;
  width: 100px;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  position: absolute;
  left: -150px;
  top: -50px;
  transform: rotate(-45deg);
}
.btn-projects:hover::after {
  transition: transform 0.3s 0.1s linear;
  transform: translateX(400px);
}

/* ****** PORTFOLIO - MEDIA QUERIES ****** */

@media screen and (max-width: 1300px) {
  .portfolio-container {
    padding-left: 0;
  }
  .portfolio-title {
    font-size: 40px;
    margin: 50px 0 70px;
    padding-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .portfolio-title {
    margin: 10px 0;
    padding: 30px 0;
  }
  .port-item {
    height: 420px;
  }
  .cont-img-port {
    height: auto;
  }
}
@media screen and (max-width: 340px) {
  .port-item {
    height: 380px;
  }
}

/* *********************************** */
/* ********* SKILLS SECTION ********** */
/* *********************************** */

.skills {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
  border-bottom: 1px dashed #333;
  background: #485563;
  background-image: linear-gradient(to right, #29323c, #485563);
  color: #f1f1f1;
  position: relative;
  z-index: -1;
}

.skills-title {
  font-size: 40px;
  text-align: center;
  margin: 80px 0 90px 0;
  padding-left: 300px;
}

.skills-grid {
  display: grid;
  grid-template: repeat(3, 80px) / repeat(2, 500px);
  grid-gap: 50px;
  padding-left: 300px;
}

.skill-cont {
  position: relative;
}

.skill-bar {
  height: 15px;
  background: rgb(167, 146, 243);
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.grey-bar {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 500px;
  height: 15px;
  background: rgb(216, 216, 216);
  border-radius: 5px;
}
.sb1 {
  width: 90%;
}
.sb2 {
  width: 75%;
  background: rgb(243, 237, 146);
}
.sb3 {
  width: 70%;
  background: rgb(243, 237, 146);
}
.sb4 {
  width: 80%;
}
.sb5 {
  width: 70%;
}
.sb6 {
  width: 65%;
  background: rgb(243, 237, 146);
}
.skill-label {
  font-size: 24px;
}

/* ****** SKILLS - MEDIA QUERIES ****** */

@media screen and (max-width: 1400px) {
  .skills-grid {
    grid-template: repeat(3, 80px) / repeat(2, 450px);
  }
  .grey-bar {
    width: 450px;
  }
}

@media screen and (max-width: 1300px) {
  .skills {
    padding-left: 0;
  }
  .skills-title {
    padding-left: 0;
  }
  .skills-grid {
    grid-template: repeat(6, 80px) / 600px;
    padding-left: 0;
  }
  .grey-bar {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .skills-grid {
    grid-template: repeat(6, 80px) / 400px;
  }
  .grey-bar {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .skills {
    padding-bottom: 100px;
  }
  .skills-title {
    font-size: 30px;
    margin: 50px 0 60px 0;
  }
  .skill-label {
    font-size: 20px;
  }
  .skill-grid {
    grid-template: repeat(6, 80px) / 300px;
    grid-gap: 40px;
  }
  .grey-bar {
    width: 300px;
  }
}

/* *********************************** */
/* ******** EXPERIENCE SECTION ******* */
/* *********************************** */

.experience {
  width: calc(100% - 300px);
  height: auto;
  margin-left: auto;
  padding-bottom: 100px;
}

.experience-title {
  text-align: center;
  margin: 70px 0;
  font-size: 40px;
  color: #333;
}

.experience-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.vertical-bar {
  height: 1000px;
  width: 5px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -30px;
}

.circle-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #333;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon img {
  width: 25px;
}

.flex-cont-block-exp {
  width: 800px;
  flex-shrink: 1;
  height: 1000px;
  position: relative;
}

.block {
  width: 100%;
  height: 200px;
  margin-bottom: 37.5px;
  cursor: pointer;
  border: 1px solid #333;
  position: relative;
}

.block-content {
  padding: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: white;
  transition: transform 0.25s ease-in-out;
  position: relative;
  transform: translate(10px, -10px);
}

.block-content:hover {
  transform: translate(0, 0);
}

.block1 {
  background: #fb97a0;
}

.block2 {
  background: #bfe2ca;
}

.block3 {
  background: #a6daef;
}

.block4 {
  background: #d0e2ec;
}

.title-block {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 25px;
  padding-bottom: 10px;
}

/* ****** EXPERIENCE - MEDIA QUERIES ****** */

@media screen and (max-width: 1300px) {
  .experience {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .vertical-bar {
    height: 1200px;
  }
  .block {
    height: 250px;
    margin-bottom: 37.5px;
  }
  .vertical-bar {
    margin-left: 60px;
  }
  .flex-cont-block-exp {
    margin-right: 30px;
  }
}

@media screen and (max-width: 520px) {
  .txt-block {
    font-size: 16px;
  }
  .block {
    height: 400px;
  }
  .vertical-bar {
    height: 1800px;
  }
}

@media screen and (max-width: 380px) {
  .txt-block {
    font-size: 15px;
  }
}

/* *********************************** */
/* ******** PARALLAX SECTION ********* */
/* *********************************** */

.parallax {
  width: 100%;
  height: 250px;
  background: url('./img/home.jpg') no-repeat right / cover fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #333;
  border-bottom: 1px dashed #333;
}
.parallax-txt {
  font-size: 30px;
  font-weight: bold;
  margin: 0 50px;
}
.parallax-txt:nth-child(1) {
  padding-left: 300px;
}

@media screen and (max-width: 1300px) {
  .parallax-txt {
      font-size: 25px;
      margin: 0 30px;
  }
  .parallax-txt:nth-child(1) {
      padding-left: 0px;
  }
}

/* ****** PARALLAX - MEDIA QUERIES ****** */

@media screen and (max-width: 700px) {
  .parallax-txt {
    font-size: 22px;
    margin: 0 25px;
  }
}

@media screen and (max-width: 550px) {
  .section-parallax {
      flex-direction: column;
  }
  .parallax-txt {
      font-size: 20px;
      margin: 20px 0px;
  }
}

/* *********************************** */
/* ********* CONTACT SECTION ********* */
/* *********************************** */
